<h2>Show racer</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @racer.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @racer.description %>
  </li>

  <li>
    <strong>Number:</strong>
    <%= @racer.number %>
  </li>

</ul>

<%= link "Edit", to: racer_path(@conn, :edit, @racer) %>
<%= link "Back", to: racer_path(@conn, :index) %>
