.sort-arrow {
  width: 0;
  height: 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.4em solid $darkendtextcolor;
    bottom: 0.1em;
  }
  &.dsc {
    &::before {
      border-top: 0.4em solid $textcolor;
    }
  }
  &::after {
    position: absolute;
    content: '';
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.4em solid $darkendtextcolor;
    top: 0.1em;
  }
  &.asc {
    &::after {
      border-bottom: 0.4em solid $textcolor;
    }
  }
}

.arrow {
  border: solid $darkendtextcolor;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;


  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.close-symbol {
  display: inline-block;
  position: relative;
  padding: 0.5em;

  &.fat {
    &:before, &:after {
      width: 0.25em;
      border-radius: 0.125em;
    }
  }
  &:before, &:after {
    position: absolute;
    content: ' ';
    height: 1em;
    width: 0.15em;
    background-color: $darkendtextcolor;
    bottom: 0;
  }
  &:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

.plus-symbol {
  display: inline-block;
  position: relative;
  padding: 0.5em;

  &.fat {
    &:before, &:after {
      width: 0.25em;
      border-radius: 0.125em;
    }
  }
  &:before, &:after {
    position: absolute;
    content: ' ';
    height: 1em;
    width: 0.15em;
    background-color: $darkendtextcolor;
    bottom: 0;
  }
  &:after {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.search-icon {
  display: inline-block;
  position: relative;
  padding: 0.5em;

  &:before {
    content: ' ';
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    left: 0;
    top: 0.1em;
		border: 0.1em solid $darkendtextcolor;
		border-radius: 50%;
  }

  &:after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 0.75em;
    width: 0.35em;
    transform: rotate(45deg);
    border: 0.1em solid $darkendtextcolor;
    border-top-right-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
  }
}

.edit-symbol {
  display: inline-block;
  position: relative;
  padding: 0.5em;
  font-size: 1.25em;

  &:before {
    height: 0.8em;
    width: 0.2em;
    right: 0.35em;
    border-radius: 0 0 40% 40%;
    clip-path: polygon(50% 100% , 0% 80%, 0% 0%, 100% 0%, 100% 80%);
    -webkit-clip-path: polygon(50% 100% , 0% 80%, 0% 0%, 100% 0%, 100% 80%);
  }

  &:after {
    height: 0.1em;
    width: 0.2em;
    right: 0;
    border-radius: 25%;
  }

  &:before, &:after {
    position: absolute;
    content: ' ';
    background-color: $darkendtextcolor;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.lock-symbol {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='31' viewBox='0 0 24 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.875 10.6667H20.25C21.7625 10.6667 23 11.9095 23 13.4286V27.2381C23 28.7571 21.7625 30 20.25 30H3.75C2.2375 30 1 28.7571 1 27.2381V13.4286C1 11.9095 2.2375 10.6667 3.75 10.6667H16.2625V7.90476C16.2625 5.54333 14.3512 3.62381 12 3.62381C9.64875 3.62381 7.7375 5.54333 7.7375 7.90476H5.125C5.125 4.09333 8.205 1 12 1C15.795 1 18.875 4.09333 18.875 7.90476V10.6667ZM4 13V27H20V13H4Z' fill='%23D8D8D8'/%3E%3Cpath d='M18.875 10.6667H18.625V10.9167H18.875V10.6667ZM16.2625 10.6667V10.9167H16.5125V10.6667H16.2625ZM7.7375 7.90476V8.15476H7.9875V7.90476H7.7375ZM5.125 7.90476H4.875V8.15476H5.125V7.90476ZM4 27H3.75V27.25H4V27ZM4 13V12.75H3.75V13H4ZM20 27V27.25H20.25V27H20ZM20 13H20.25V12.75H20V13ZM20.25 10.4167H18.875V10.9167H20.25V10.4167ZM23.25 13.4286C23.25 11.7725 21.9016 10.4167 20.25 10.4167V10.9167C21.6234 10.9167 22.75 12.0466 22.75 13.4286H23.25ZM23.25 27.2381V13.4286H22.75V27.2381H23.25ZM20.25 30.25C21.9016 30.25 23.25 28.8942 23.25 27.2381H22.75C22.75 28.6201 21.6234 29.75 20.25 29.75V30.25ZM3.75 30.25H20.25V29.75H3.75V30.25ZM0.75 27.2381C0.75 28.8942 2.09841 30.25 3.75 30.25V29.75C2.37659 29.75 1.25 28.6201 1.25 27.2381H0.75ZM0.75 13.4286V27.2381H1.25V13.4286H0.75ZM3.75 10.4167C2.09841 10.4167 0.75 11.7725 0.75 13.4286H1.25C1.25 12.0466 2.37659 10.9167 3.75 10.9167V10.4167ZM16.2625 10.4167H3.75V10.9167H16.2625V10.4167ZM16.0125 7.90476V10.6667H16.5125V7.90476H16.0125ZM12 3.87381C14.2122 3.87381 16.0125 5.68039 16.0125 7.90476H16.5125C16.5125 5.40628 14.4903 3.37381 12 3.37381V3.87381ZM7.9875 7.90476C7.9875 5.68039 9.78784 3.87381 12 3.87381V3.37381C9.50966 3.37381 7.4875 5.40628 7.4875 7.90476H7.9875ZM5.125 8.15476H7.7375V7.65476H5.125V8.15476ZM12 0.75C8.06591 0.75 4.875 3.95628 4.875 7.90476H5.375C5.375 4.23039 8.34409 1.25 12 1.25V0.75ZM19.125 7.90476C19.125 3.95628 15.9341 0.75 12 0.75V1.25C15.6559 1.25 18.625 4.23039 18.625 7.90476H19.125ZM19.125 10.6667V7.90476H18.625V10.6667H19.125ZM4.25 27V13H3.75V27H4.25ZM20 26.75H4V27.25H20V26.75ZM19.75 13V27H20.25V13H19.75ZM4 13.25H20V12.75H4V13.25Z' fill='%23255A80'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;

  &.locked {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='30' viewBox='0 0 22 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.875 10.2389H19.25C20.7625 10.2389 22 11.4818 22 13.0008V26.8104C22 28.3294 20.7625 29.5723 19.25 29.5723H2.75C1.2375 29.5723 0 28.3294 0 26.8104V13.0008C0 11.4818 1.2375 10.2389 2.75 10.2389H4.125V7.47703C4.125 3.6656 7.205 0.572266 11 0.572266C14.795 0.572266 17.875 3.6656 17.875 7.47703V10.2389ZM6 7.43501V10.5723H16V7.43501C16 4.75266 13.7581 2.57227 11 2.57227C8.24194 2.57227 6 4.75266 6 7.43501Z' fill='%23D8D8D8'/%3E%3C/svg%3E%0A");
  }
}


.user-symbol {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.75 4.25C12.75 6.59812 10.8481 8.5 8.5 8.5C6.15188 8.5 4.25 6.59812 4.25 4.25C4.25 1.90188 6.15188 0 8.5 0C10.8481 0 12.75 1.90188 12.75 4.25ZM0 14.875C0 12.0487 5.66313 10.625 8.5 10.625C11.3369 10.625 17 12.0487 17 14.875V17H0V14.875Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.upload-symbol {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.15 5.05922L8.33418 1.15398' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8.65 1.14L12.8342 5.04523' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8.49833 1V9.74743' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1.29605 10V13.8164' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M15.7023 10V13.8164' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1.97821 13.8418H15.4075' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.printer-symbol {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='33' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='10.877' width='32' height='17' rx='2' stroke='%23466A88' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.5 16.877C26.3284 16.877 27 16.2054 27 15.377C27 14.5485 26.3284 13.877 25.5 13.877C24.6716 13.877 24 14.5485 24 15.377C24 16.2054 24.6716 16.877 25.5 16.877Z' fill='%23466A88'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.5 16.877C30.3284 16.877 31 16.2054 31 15.377C31 14.5485 30.3284 13.877 29.5 13.877C28.6716 13.877 28 14.5485 28 15.377C28 16.2054 28.6716 16.877 29.5 16.877Z' fill='%23466A88'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 10.877V1.87695H21.6985L27 6.88835V10.877H8Z' stroke='%23466A88' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21 1.87695V7.87695H27L21 1.87695Z' fill='%23466A88'/%3E%3Crect x='8' y='20.877' width='19' height='11' fill='%230E364F' stroke='%23466A88' stroke-width='2'/%3E%3Cpath d='M10.5 23.377H24.5' stroke='%23466A88' stroke-linecap='square'/%3E%3Cpath d='M10.5 25.377H24.5' stroke='%23466A88' stroke-linecap='square'/%3E%3Cpath d='M10.5 27.377H24.5' stroke='%23466A88' stroke-linecap='square'/%3E%3Cpath d='M10.5 29.377H24.5' stroke='%23466A88' stroke-linecap='square'/%3E%3C/svg%3E%0A");  background-size: contain;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;

  .open {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='33' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='10.8809' width='32' height='17' rx='2' stroke='white' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.5 16.8809C26.3284 16.8809 27 16.2093 27 15.3809C27 14.5524 26.3284 13.8809 25.5 13.8809C24.6716 13.8809 24 14.5524 24 15.3809C24 16.2093 24.6716 16.8809 25.5 16.8809Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.5 16.8809C30.3284 16.8809 31 16.2093 31 15.3809C31 14.5524 30.3284 13.8809 29.5 13.8809C28.6716 13.8809 28 14.5524 28 15.3809C28 16.2093 28.6716 16.8809 29.5 16.8809Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 10.8809V1.88086H21.6985L27 6.89226V10.8809H8Z' stroke='white' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21 1.88086V7.88086H27L21 1.88086Z' fill='white'/%3E%3Crect x='8' y='20.8809' width='19' height='11' fill='%23255A80' stroke='white' stroke-width='2'/%3E%3Cpath d='M10.5 23.3809H24.5' stroke='white' stroke-linecap='square'/%3E%3Cpath d='M10.5 25.3809H24.5' stroke='white' stroke-linecap='square'/%3E%3Cpath d='M10.5 27.3809H24.5' stroke='white' stroke-linecap='square'/%3E%3Cpath d='M10.5 29.3809H24.5' stroke='white' stroke-linecap='square'/%3E%3C/svg%3E%0A");  
  }
}

.connection-symbol {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2788 6.09785C13.5616 3.38069 9.77596 2.39005 6.26629 3.1118L8.04943 4.89494C10.5048 4.77465 12.9955 5.63791 14.8636 7.51304L16.2788 6.09785ZM13.4484 8.92823C12.5356 8.01543 11.4388 7.42105 10.2713 7.11679L12.7691 9.61459L13.4484 8.92823ZM1.42634 1.88766L3.59866 4.04583C2.5585 4.55529 1.58202 5.23458 0.71875 6.09785L2.12686 7.51304C3.00428 6.63562 4.01614 5.98463 5.09876 5.553L6.68377 7.13801C5.53747 7.4352 4.44777 8.02958 3.54913 8.92823V8.9353L4.95724 10.3434C5.91957 9.38109 7.17909 8.89992 8.4386 8.88577L13.4413 13.8814L14.3399 12.9898L2.33914 0.996094L1.42634 1.88766ZM6.37951 11.7586L8.50229 13.8814L10.6251 11.7586C9.45754 10.584 7.55411 10.584 6.37951 11.7586Z' fill='%23466A88'/%3E%3C/svg%3E%0A");  background-position: 50%;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;

  &.connected {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3.22038L1.41477 4.63515C4.93048 1.11944 10.632 1.11944 14.1477 4.63515L15.5625 3.22038C11.2687 -1.07346 4.30091 -1.07346 0 3.22038ZM5.65909 8.87947L7.78125 11.0016L9.90341 8.87947C8.73622 7.70521 6.83335 7.70521 5.65909 8.87947ZM2.82955 6.04992L4.24432 7.46469C6.1967 5.51231 9.3658 5.51231 11.3182 7.46469L12.733 6.04992C10.0024 3.31941 5.56713 3.31941 2.82955 6.04992Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}

.info-symbol {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 0C5.376 0 0 5.376 0 12C0 18.624 5.376 24 12 24C18.624 24 24 18.624 24 12C24 5.376 18.624 0 12 0ZM11 18V10H13V18H11ZM11 7V9H13V7H11Z' fill='%23D8D8D8'/%3E%3C/svg%3E%0A");  
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.download-symbol {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7172 5.94078L8.53301 9.84602' stroke='%23D8D8D8' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8.21719 9.86L4.03301 5.95477' stroke='%23D8D8D8' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8.36886 10L8.36886 1.25257' stroke='%23D8D8D8' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1.16324 10V13.8164' stroke='%23D8D8D8' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M15.5695 10V13.8164' stroke='%23D8D8D8' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1.84539 13.8418H15.2747' stroke='%23D8D8D8' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.eye-symbol {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='14' viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0C15.9 0 19.7 3.1 22 7C19.7 10.9 15.9 14 11 14C6.1 14 2.3 10.9 0 7C2.3 3.1 6.1 0 11 0ZM11 10C9.3 10 8 8.7 8 7C8 5.3 9.3 4 11 4C12.7 4 14 5.3 14 7C14 8.7 12.7 10 11 10ZM11 12C15.3 12 18 9.3 19.6 7C18 4.7 15.3 2 11 2C6.7 2 4 4.7 2.4 7C4 9.3 6.7 12 11 12Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  &.closed {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.26 3.80273C19.762 5.02273 21.03 6.50673 22 8.18073C19.7 12.0807 15.9 15.1807 11 15.1807C9.796 15.1807 8.6 14.9877 7.458 14.6057L9.08 12.9827C9.712 13.1127 10.355 13.1797 11 13.1807C15.3 13.1807 18 10.4807 19.6 8.18073C18.838 7.05873 17.91 6.05773 16.85 5.21073L18.26 3.80273ZM3.8 12.6077C2.27 11.3777 0.982 9.87774 0 8.18073C2.3 4.28073 6.1 1.18073 11 1.18073C12.232 1.18073 13.457 1.38373 14.622 1.78473L13.012 3.39473C12.35 3.25473 11.675 3.18073 11 3.18073C6.7 3.18073 4 5.88073 2.4 8.18073C3.177 9.32373 4.125 10.3407 5.21 11.1957L3.8 12.6077ZM8 8.18073C8 6.52373 9.343 5.18073 11 5.18073C11.07 5.18073 11.136 5.19673 11.205 5.20073L8.02 8.38573C8.017 8.31573 8 8.25073 8 8.18073ZM11 11.1807C10.964 11.1807 10.93 11.1707 10.894 11.1707L13.989 8.07373C13.989 8.10973 13.999 8.14373 13.999 8.18073C13.999 9.83673 12.655 11.1807 10.999 11.1807H11ZM13.72 6.93073L9.75 10.9007L7.965 12.6847L6.442 14.2067L4.915 15.7347L3.44 14.3807L4.618 13.2007L6.048 11.7707L8.318 9.50073L12.321 5.50073L14.117 3.70573L15.635 2.18773L17.645 0.177734L19.132 1.51773L17.45 3.20073L16.02 4.63073L13.72 6.93073H13.722H13.72Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
