.add-new-article-view {
  margin-left: 2rem;
  > * {
    margin-top: 2rem;
    margin-right: 1rem;
  }

  > div:not(.pop-up-prompt) {
    &:nth-child(1) {
      position: relative;
        :nth-child(2) {
        right: 0;
        position: absolute;
      }
    }

    &:not(:nth-child(1)) {
      background-color: $secondary;
      border-radius: 0.25rem;
      padding: 1rem;
      .input-wrapper{
        padding: 0%;
      }
    }
  }

  .lable-table{
    .filter-and-sort-box{
      tr{
        td{
          background-color: $primary-light !important;
        }
      }
      tr.paddingRow{
        td{
          background: none !important;
        }
      }
    }
    &.added-labels{
      .added-labels-accordion{
        tr.parent{
          td{
            background-color: white !important;
          }
          td:first-of-type{
            span{
              color: $highlight;
            }
          }
          td:last-of-type{
            button{
              color: $textcolor-dark;
            }
          }
        }
        tr.paddingRow{
          td{
            background: none !important;
          }
        }
      }
    }
  }
}
