.add-new-user-view {
  max-width: 643px;
  margin-left: 2rem;
  > * {
    margin-top: 2rem;
    margin-right: 1rem;
  }

  > div:not(.pop-up-prompt) {
    &:nth-child(1) {
      position: relative;
        :nth-child(2) {
        right: 0;
        position: absolute;
      }
    }

    &:not(:nth-child(1)) {
      // background-color: $secondary;
      border-radius: 0.25rem;
      padding: 1rem;

      .input-wrapper {
        margin-top: 1.5rem;
      }
    }
  }

  .table {
    td {
      border-radius: 0.5rem;
      span {
        position: absolute;
        right: 2rem;
        transform: translateX(-100%);
      }
    }
  }

  .groups {
    span {
      float: right;
      margin-right: .4em;
      cursor: pointer;
    }
  }
}
