<h2>Show season</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @season.name %>
  </li>

  <li>
    <strong>Ticket:</strong>
    <%= @season.ticket %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @season.description %>
  </li>

</ul>

<%= link "Edit", to: season_path(@conn, :edit, @season) %>
<%= link "Back", to: season_path(@conn, :index) %>
