@page "/fetchdata"
@using BotoGP.Blazor.Data
@inject CircuitCatalog CircuitCatalog

<PageTitle>Weather forecast</PageTitle>

<h1>Circuits</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_circuits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var forecast in _circuits)
            {
                <tr>
                    <td>
                        <CircuitLab Circuit=@forecast.Summary />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CircuitInfo[]? _circuits;

    protected override async Task OnInitializedAsync()
    {
        _circuits = await CircuitCatalog.GetCircuitsAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
